@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

h1,
h3 {
    font-family: "Poppins", sans-serif;
    color: hsl(192, 100%, 9%);
}

main {
    margin-bottom: -100px;
}

.hero {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    padding: 40px;
    padding-top: 0px;
    background-image: url("../images/bg-hero-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
}

header {
    grid-row: 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    grid-row: 1;
    grid-column: 1;
}

.logo > img {
    width: 200px;
    height: 30px;
}

.header-btn {
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}

.header-btn > button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(179, 168, 168, 0.384);
    cursor: pointer;
}

.hero-left {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.hero-left > div {
    display: block;
}

.hero-left > div > button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 18px;
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-weight: bold;
    cursor: pointer;
}

.hero-left > div > button:hover {
    opacity: 0.8;
}

.hero-left > div > p {
    color: hsl(192, 100%, 9%);
}

.hero-right {
    grid-row: 2;
    grid-column: 2 / span 2;
    text-align: center;
}

.hero-right > img {
    width: 100%;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
    padding-left: 100px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(179, 168, 168, 0.384);
    margin-bottom: 30px;
    column-gap: 150px;
}

.info1 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
    padding-left: 100px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(179, 168, 168, 0.384);
    margin-bottom: 30px;
    column-gap: 150px;
}

.info-left {
    grid-row: 1;
    grid-column: 1;
}

.info-right {
    grid-row: 1;
    grid-column: 2;
}

.info-left > img,
.info-right > img {
    max-width: 100%;
    width: 500px;
}

.info-left > div > p,
.info-right > div > p {
    color: hsl(208, 11%, 55%);
}

footer {
    background-color: hsl(192, 100%, 9%);
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
    column-gap: 30px;
}

.footer_logo {
    grid-row: 1;
    grid-column: 1 / span 5;
    margin-bottom: 30px;
}

.footer_info {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.links1 {
    grid-row: 2;
    grid-column: 3;
}

.links2 {
    grid-row: 2;
    grid-column: 4;
}

.social_media {
    grid-row: 2;
    grid-column: 5;
}

.mt-10 {
    margin-top: 5px;
}

.site_info {
    width: 100%;
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.site_info_text {
    display: inline-block;
    width: 85%;
    vertical-align: top;
}

.links1 > a,
.links2 > a {
    display: block;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
}

.copyright {
    grid-row: 3;
    grid-column: 1 / span 5;
    text-align: right;
    margin-top: 30px;
}

.card {
    padding: 40px;
    width: 50%;
    margin: auto;
    text-align: center;
    box-shadow: 0 6px 12px rgba(179, 168, 168, 0.384);
    border-radius: 20px;
    margin-top: 100px;
    background-color: white;
    z-index: 999;
    position: relative;
}

.card > button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: hsl(322, 100%, 66%);
    font-weight: bold;
    cursor: pointer;
}

.card > button:hover {
    opacity: 0.8;
}

.social_media > button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    color: white;
}

@media only screen and (max-width: 420px) {
    .logo > img {
        width: 150px;
        height: 25px;
    }
    .hero {
        grid-template-columns: auto;
        padding: 20px;
        background-image: url("../images/bg-hero-mobile.svg");
    }
    header {
        grid-row: 1;
        grid-column: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hero-left {
        grid-row: 2;
        grid-column: 1;
        margin-bottom: 40px;
        text-align: center;
        padding-left: 0px;
    }
    .hero-right {
        grid-row: 3;
        grid-column: 1;
    }
    .hero-left > div > h1 {
        font-size: 30px;
    }
    .main-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .card {
        width: 95%;
    }
    footer {
        grid-template-columns: auto;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_logo {
        grid-row: 1;
        grid-column: 1;
    }
    .footer_info {
        grid-row: 2;
        grid-column: 1;
        margin-bottom: 30px;
    }
    .links1 {
        grid-row: 3;
        grid-column: 1;
    }
    .links2 {
        grid-row: 4;
        grid-column: 1;
        margin-bottom: 30px;
    }
    .social_media {
        grid-row: 5;
        grid-column: 1;
        text-align: center;
    }
    .copyright {
        grid-row: 6;
        grid-column: 1;
        text-align: center;
    }
    .info {
        padding: 20px;
        grid-template-columns: auto;
        text-align: center;
    }
    .info1 {
        padding: 20px;
        grid-template-columns: auto;
        text-align: center;
    }
    .info > .info-left {
        grid-row: 2;
        grid-column: 1;
    }
    .info > .info-right {
        grid-row: 1;
        grid-column: 1;
    }
    .info1 > .info-left {
        grid-row: 1;
        grid-column: 1;
    }
    .info1 > .info-right {
        grid-row: 2;
        grid-column: 1;
    }
    .info-left > img,
    .info-right > img {
        width: 80%;
        margin-bottom: 30px;
    }
}

.info,
.info1 {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.info.visible,
.info1.visible {
    opacity: 1;
    transform: translate(0, 0);
}
